$fab-size: 48px;
$fab-font-size: 18px;

.btn {
  border-radius: 0;
  outline: none;

  &:focus {
    outline: 0;
  }

  &.btn-fab {
    position: relative;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 1px 1.5px 0 rgb(0 0 0 / 12%), 0 1px 1px 0 rgb(0 0 0 / 24%);
    border-radius: 50%;
    width: $fab-size;
    min-width: $fab-size;
    height: $fab-size;
    padding: 0;
    font-size: $fab-font-size;
    line-height: normal;

    &:focus {
      outline: none;
    }

    .fa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(calc($fab-font-size / -2), calc($fab-font-size / -2));
      width: $fab-font-size;
      line-height: $fab-font-size;
    }
  }
}

.btn.btn-material {
  position: relative;
  overflow: hidden;
  box-shadow: none;
  border-radius: 2px;
  min-width: 88px;
  padding: 10px 16px;
  font-weight: 500;
  outline: none;

  + .btn {
    margin-left: 8px;
  }

  &.stroked {
    border: 1px solid color.adjust(#333, $lightness: 25%);
    border-width: 2px;
    border-radius: 2px;
  }

  &:focus {
    outline: none;
  }

  &:focus::before {
    content: "";
    position: absolute;
    top: 150%;
    left: 150%;
    display: block;
    transform: translate(-100%,-100%);
    width: 200%;
    height: 200%;
    background: rgb(255 255 255 / 8%);
  }

  &.btn-default:focus::before {
    background: rgb(33 33 33 / 16%);
  }
}

.btn.btn-material-icon {
  position: relative;
  box-shadow: none;
  border-radius: 50%;
  min-width: 24px;
  padding: 8px;
  background: none;
  line-height: 24px;
  color: #717171;
  outline: none;

  .mdi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  &:focus {
    outline: none;
  }

  &:hover, &.active {
    background: color.adjust(#fff, $lightness: -10%);
  }
}

.btn-link {
  &:focus {
    border: 0;
    outline: 0;
  }
}
