// Font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Font family
$font-family-icons: "Material Design Icons";
$font-family-primary: Poppins, Helvetica, Arial, sans-serif;
$font-family-secondary: Roboto, Helvetica, Arial, sans-serif;

$bg-color-default: #f5f5f5;

@mixin highlight($color) {
  border: none;
  box-shadow: 0 0 0 2px $color !important;
}
