// Customizations
.v-input, .v-chip.v-size--small, .v-chip.v-chip--outlined, .v-btn--outlined {
  border-radius: 2px !important;
}

.v-input.required label::after {
  content: "*";
}

.v-input--selection-controls__input input {
  position: absolute;
}

.v-list.v-select-list {
  text-align: left !important;
}

.v-text-field input {
  padding: 0.5rem 0;
}

.v-input.v-text-field textarea {
  padding: 0.375rem 0;
}

.v-input {
  input:focus, textarea:focus {
    box-shadow: none !important;
  }

  &.v-input--is-disabled input {
    border-bottom: none;
  }
}

// Fix precedence for disabled state
.theme--light.v-text-field--outlined.v-input--is-disabled fieldset {
  border-color: rgba(0, 0, 0, 0.26) !important;
}

a:hover, a:active, a:visited, a:focus {
  color: inherit;
  text-decoration: inherit;
}

hr.v-divider--vertical {
  margin: 0;
}

html {
  font-size: 16px !important;
}

.v-application {
  fieldset legend {
    border: 0;
  }

  a:focus {
    outline: none;
  }

  .row .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
}
