// Patches in order for vuetify to work alongside bootstrap
.v-text-field input {
  padding: 8px 0;
}

.v-input {
  input:focus, textarea:focus {
    box-shadow: none !important;
  }
}

a:hover, a:active, a:visited, a:focus {
  color: inherit;
  text-decoration: inherit;
}
