// Customizations
.v-input, .v-chip.v-size--small, .v-chip.v-chip--outlined, .v-btn--outlined {
  border-radius: 2px !important;
}

.v-input--selection-controls__input input {
  position: absolute;
}

// Patches in order for vuetify to work alongside bootstrap
.v-input input, .v-input textarea, .v-input input[type=text][readonly] {
  box-shadow: inherit;
  border: inherit;
}

.v-text-field input {
  padding: 8px 0;
}

.v-input {
  input:focus, textarea:focus {
    box-shadow: none !important;
  }
}

a:hover, a:active, a:visited, a:focus {
  color: inherit;
  text-decoration: inherit;
}

hr.v-divider--vertical {
  margin: 0;
}

html {
  font-size: 16px !important;
}

.v-application {
  fieldset legend {
    border: 0;
  }

  a:focus {
    outline: none;
  }

  .row .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
}
