{
  "presets": ["poi/babel"],
  "plugins": [
    ["transform-imports", {
      "vuetify": {
        "transform": "vuetify/lib/components/${member}",
        "preventFullImport": true
      }
    }]
  ]
}
