'use strict';

module.exports = {
  title: 'Tailor',
  // Logo files in /client/assets/img
  // Filenames must contain 'logo' verbiage
  logo: {
    // Compact, navbar logo
    compact: 'default-logo-compact.svg',
    // Full, login screen logo
    full: 'default-logo-full.svg'
  },
  // Favicon file in /client/assets/img
  // Filename must contain 'favicon' verbiage
  favicon: 'default-favicon.ico',
  // Style constants
  style: {
    // Primary brand color
    brandColor: '#0D47A0',
    // Secondary brand color
    altBrandColor: '#5C6BC0'
  }
};
