# Dependencies
node_modules

# Editors
.vscode
*.sublime-*
.idea

# Logs
logs
*.log
npm-debug.log*

# Test reports
client/test/unit/coverage
client/test/e2e/reports
selenium-debug.log

# Configuration
.env
ecosystem.config.js
.*rc*
!.eslintrc*
!.*.example

# Extensions
extensions/content-elements/*
!extensions/content-elements/.gitkeep
extensions/content-containers/*
!extensions/content-containers/.gitkeep

# Branding
client/assets/img/*logo*
!client/assets/img/default-logo*
client/assets/img/*favicon*
!client/assets/img/default-favicon.ico

# DB migrations
umzug.json

# Filesystem storage provider
data/*
!data/.gitkeep

# Build artifacts
dist/*
!dist/.gitkeep
stats.json

# General
.DS_Store
