# Dependencies
node_modules

# Editors
.vscode
*.sublime-*
.idea

# Logs
logs
*.log
npm-debug.log*

# Configuration
.env
ecosystem.*
.activitiesrc*
# TODO: Deprecate `activities-rc` config name
.activities-rc*
activities.config.js
.brandrc*
brand.config.js
!*.example

# Extensions
extensions/content-elements/*
!extensions/content-elements/.gitkeep
extensions/content-containers/*
!extensions/content-containers/.gitkeep

# Branding
client/assets/img/*
!client/assets/img/default-*

# DB migrations
umzug.json

# Filesystem storage provider
data/*
!data/.gitkeep

# Build artifacts
dist/*
!dist/.gitkeep
stats.json

# General
.DS_Store
