# Dependencies
node_modules

# Editors
.vscode
*.sublime-*
.idea

# Logs
logs
*.log
npm-debug.log*

# Configuration
.env
ecosystem.*
tailor.config.js
.tailorrc*
# TODO: Deprecate legacy configuration files
activities.config.js
.activities-rc*
brand.config.js
.brandrc*
!*.example

# Extensions
extensions/content-elements/*
!extensions/content-elements/.gitkeep
extensions/content-containers/*
!extensions/content-containers/.gitkeep
extensions/meta-inputs/*
!extensions/meta-inputs/.gitkeep

# Branding
client/assets/img/*
!client/assets/img/default-*

# DB migrations
umzug.json

# Filesystem storage provider
data/*
!data/.gitkeep

# Build artifacts
dist/*
!dist/.gitkeep
stats.json
packages/*/dist
packages/*/stats.html
# General
.DS_Store
