'use strict';

exports.SCHEMAS = [{
  id: 'COURSE',
  name: 'Example Course',
  structure: [{
    type: 'GOAL',
    label: 'Goal',
    color: '#ff6590',
    level: 1,
    meta: [{
      key: 'description',
      type: 'INPUT',
      label: 'Description',
      placeholder: 'Click to add...',
      validate: { required: false, max: 23 }
    }],
    contentContainers: ['PAGE'],
    relationships: [{
      type: 'prerequisites',
      label: 'Prerequisites',
      multiple: true,
      searchable: true,
      allowEmpty: true,
      placeholder: 'Click to select',
      allowCircularLinks: false,
      allowInsideLineage: false,
      allowedTypes: ['GOAL']
    }, {
      type: 'replacements',
      label: 'replacements'
    }]
  }],
  contentContainers: [{
    type: 'PAGE',
    label: 'Page',
    multiple: false,
    publishedAs: 'Page',
    required: false
  }]
}];
