<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
</head>
<body>
  <script>
    var token = '{{ token }}';
    var user = stringify({{& profile }});
    var state = stringify({ auth: { token, user } });
    localStorage.setItem('{{ storageKey }}', state);
    location.replace(location.origin);

    function stringify(obj) {
      return JSON.stringify(obj, function (_, val) {
        return isString(val) ? decodeURIComponent(val) : val;
      })
    }

    function isString(arg) {
      return typeof arg === 'string';
    }
  </script>
</body>
</html>
