// Bootstrap files
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootswatch/paper/variables';
@import '~bootswatch/paper/bootswatch';
@import '~loaders.css/loaders';

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

$mdi-font-path: '~mdi/fonts';
@import '~mdi/scss/materialdesignicons';

@import 'common/all';
@import 'common/assessments/all';
