// Google Web Fonts
@import '~sass-web-fonts';
$web-font-path: web-fonts-url(
  (Catamaran: (300, 400, 500, 600, 700)),
  (Roboto: (300, 400, 500, 700))
);

// Bootstrap files
@import 'vendor/bootstrap';
@import '~bootswatch/paper/variables';
@import '~bootswatch/paper/bootswatch';
@import '~loaders.css/loaders';

$mdi-font-path: '~mdi/fonts';
@import '~mdi/scss/materialdesignicons';

@import 'common/all';
@import 'common/assessments/all';
